# compiled output
**/build
**/package
**/global-s3-assets
**/regional-s3-assets
**/open-source
**/.zip
**/tmp
**/out-tsc

# dependencies
**/node_modules

# coverage
**/coverage

# e2e
**/e2e/*.js
**/e2e/*.map

# misc
**/npm-debug.log
**/testem.log
**/.vscode/settings.json
**/*.zip
**/*local-runner*
**/*create-stack.sh

# System Files
**/.DS_Store
**/.vscode

# Demo Web Config
**/amplifyConfig.js
